<main id="reserve_coaching">
  <div class="text-center">
    <h2>コーチング予約</h2>
    <p>選択されたコーチングの内容は以下の通りです。問題がなければ予約を確定するボタンを押して先に進めてください。</p>
    <div class="hitory-detail bg-lightgray">
      <h4 class="pt-4">2019/10/24(Sun)</h4>
      <div class="content">
        <div class="sidebar">
          <img src="/default.jpg" alt="" class="user-icon">
          <p>重神 咲也 (22じゃ)</p>

          <p class="mb-0" style="">株式会社Cultiate</p>
          <span class="text-orange">📩メッセージを見る</span>

          <p>面談回数： 48回</p>

          <p>#神戸大学</p>
          <p>#エンジニア</p>

          <p>料金：　20,000円</p>
          
          <a href="" class="btn btn-primary">詳細</a>
        </div>
        <div class="mainbar">
          <div class="">
            <h5 class="subtitle mt-0">コーチング内容（必須）</h5>
            <select class="w-100">
              <option value="" selected>選択してください</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <h5 class="subtitle">内容詳細</h5>
          <textarea name="profile" id="" class="w-100" cols="30" rows="5">私の強みは「身体が丈夫」な点です。これまで大きな病気をしたことがありません。バランスの取れた食事や手洗いうがいなどを心掛けて、万全の体調を維持するようにしています。運動もしているので、健康や体力には人一倍自信があります。</textarea>

          <h5 class="subtitle">その他希望</h5>
          <textarea name="profile" id="" class="w-100" cols="30" rows="5">私の強みは「身体が丈夫」な点です。これまで大きな病気をしたことがありません。バランスの取れた食事や手洗いうがいなどを心掛けて、万全の体調を維持するようにしています。運動もしているので、健康や体力には人一倍自信があります。</textarea>
        </div>
        
      </div>
    </div>
  </div>
</main>