<main id="settings">
  <h2 class="text-center">各種設定</h2>
  <div class="content">
    <div class="sidebar">
      <ul>
        <li>基本情報設定</li>
        <li>メール通知設定</li>
        <li>決済設定</li>
      </ul>
    </div>
    <div class="mainbar">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">名前</label>
          <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" placeholder="pai sen">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ふりがな</label>
          <input type="password" class="form-control rounded-pill" id="exampleInputPassword1" placeholder="ぱいせん">
        </div>
        <label for="exampleInputBirth" class="">生年月日</label>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control rounded-pill" placeholder="2019">年
          </div>
          <div class="col">
            <input type="text" class="form-control rounded-pill" placeholder="2">月
          </div>
          <div class="col">
            <input type="text" class="form-control rounded-pill" placeholder="19">日
          </div>
        </div>
        <label for="exampleInputBirth" class="">性別</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label">男性</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label">女性</label>
        </div>
        <div class="d-block">
          <button type="submit" class="btn btn-primary mt-4">保存する</button>
        </div>
      </form>
    </div>
  </div>
</main>