
<br><br><br>
<div class="card" style="width: auto; margin:40px;">
  <img class="card-img-top" src="/assets/gitchan.jpg" alt="Card image cap">
  <div class="card-body" style="width: auto; margin-top:40px;">
    <h5 class="card-title">名前 : 苗字　名</h5>
    <p class="card-text">大学 ： 甲南大学　知能情報学部　知能情報学科</p>
    <p class="card-text">志望業界 ： IT,金融,人材</p>
  </div>
</div>


<div class="progress mt-3" style="width: auto; margin:40px;">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>

<button type="button" class="btn btn-secondary float-right" style="width: auto; margin:0px 40px 0px;">編集する</button>
<form class="" action="index.html" method="post">
  <div class="form-group"style="width: auto; margin:0px 40px 0px;">
   <label for="exampleFormControlTextarea1">自己紹介</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
</form>
<br>

<button type="button" class="btn btn-secondary float-right" style="width: auto; margin:0px 40px 0px;">編集する</button>
<form class="" action="index.html" method="post">
  <div class="form-group"style="width: auto; margin:0px 40px 0px;">
   <label for="exampleFormControlTextarea1">今後やってみたいこと</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
</form>
<br>

<button type="button" class="btn btn-secondary float-right" style="width: auto; margin:0px 40px 0px;">編集する</button>
<form class="" action="index.html" method="post">
  <div class="form-group"style="width: auto; margin:0px 40px 0px;">
   <label for="exampleFormControlTextarea1">学歴</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
</form>
<br>

<button type="button" class="btn btn-secondary float-right" style="width: auto; margin:0px 40px 0px;">編集する</button>
<form class="" action="index.html" method="post">
  <div class="form-group"style="width: auto; margin:0px 40px 0px;">
   <label for="exampleFormControlTextarea1">ゼミ活動</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
</form>
<br>

<button type="button" class="btn btn-secondary float-right" style="width: auto; margin:0px 40px 0px;">編集する</button>
<form class="" action="index.html" method="post">
  <div class="form-group"style="width: auto; margin:0px 40px 0px;">
   <label for="exampleFormControlTextarea1">インターン・課外活動</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" maxlength='8'></textarea>
  </div>
</form>
<!-- maxlength='8' で文字数制限かけられる-->




 <br><br>
