<main id="reservation_coach">
  <div class="content">
    <h2>予約管理</h2>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="reservations accordion text-left" id="accordion2" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="heading1">
          <h5 class="mb-0">
            <a data-toggle="collapse" class="text-body stretched-link text-decoration-none" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <div class="reservation overflow-hidden">
              <img src="/default.jpg" alt="" class="user-icon reserver-icon float-left">
              <div class="reserve-info float-left">
                <p class="text-left mb-0">2/19 15:00~16:00</p>
                <h4 class="reserver-profile">松本 ことみ さん</h4>
              </div>
            </div>
            </a>
          </h5>
        </div>
        <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion2">
          <div class="card-body">
            <span class="" style="font-size:12px;">京都精華大学</span><br><a href="#" style="font-size:12px;"><i><img src="/icons/c-fav.png" alt=""></i>プロフィールを見る</a>
            <div class="tags my-5">
              <a href="#" class="tag">#テキスタイル専攻</a>
              <a href="#" class="tag">#2回生</a>
              <a href="#" class="tag">#デザイナー志望</a>
            </div>
            <div class="text-left overflow-hidden">
              <div class="col-sm-6 float-left">
                <div class="subject">
                  <h4>コーチング内容</h4>
                  <p class="ml-4">サンプルテキスト</p>
                </div>
                <div class="detail">
                  <h4>内容詳細</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字２００文字</p>
                </div>
              </div>
              <div class="col-sm-6 float-left">
                <div class="profile">
                  <h4>自己紹介</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
                <div class="others">
                  <h4>その他希望</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
              </div>
            </div>
            <div class="buttons text-center mt-4">
              <a href="#" class="btn btn-danger mx-2">メッセージを送る</a>
              <a href="#" class="btn btn-primary mx-2">予約をキャンセルする</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="heading2">
          <h5 class="mb-0">
            <a class="collapsed text-body stretched-link text-decoration-none" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <div class="reservation overflow-hidden">
              <img src="/default.jpg" alt="" class="user-icon reserver-icon float-left">
              <div class="reserve-info float-left">
                <p class="text-left mb-0">2/19 17:00~18:00</p>
                <h4 class="reserver-profile">松本 ことみ さん</h4>
              </div>
            </div>
            </a>
          </h5>
        </div>
        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion2">
          <div class="card-body">
            <span class="" style="font-size:12px;">京都精華大学</span><br><a href="#" style="font-size:12px;"><i><img src="/icons/c-fav.png" alt=""></i>プロフィールを見る</a>
            <div class="tags my-5">
              <a href="#" class="tag">#テキスタイル専攻</a>
              <a href="#" class="tag">#2回生</a>
              <a href="#" class="tag">#デザイナー志望</a>
            </div>
            <div class="text-left overflow-hidden">
              <div class="col-sm-6 float-left">
                <div class="subject">
                  <h4>コーチング内容</h4>
                  <p class="ml-4">サンプルテキスト</p>
                </div>
                <div class="detail">
                  <h4>内容詳細</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字２００文字</p>
                </div>
              </div>
              <div class="col-sm-6 float-left">
                <div class="profile">
                  <h4>自己紹介</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
                <div class="others">
                  <h4>その他希望</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
              </div>
            </div>
            <div class="buttons text-center mt-4">
              <a href="#" class="btn btn-danger mx-2">メッセージを送る</a>
              <a href="#" class="btn btn-primary mx-2">予約をキャンセルする</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="heading3">
          <h5 class="mb-0">
            <a class="collapsed text-body stretched-link text-decoration-none" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <div class="reservation overflow-hidden">
              <img src="/default.jpg" alt="" class="user-icon reserver-icon float-left">
              <div class="reserve-info float-left">
                <p class="text-left mb-0">2/19 18:00~19:00</p>
                <h4 class="reserver-profile">松本 ことみ さん</h4>
              </div>
            </div>
            </a>
          </h5>
        </div>
        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion2">
          <div class="card-body">
            <span class="" style="font-size:12px;">京都精華大学</span><br><a href="#" style="font-size:12px;"><i><img src="/icons/c-fav.png" alt=""></i>プロフィールを見る</a>
            <div class="tags my-5">
              <a href="#" class="tag">#テキスタイル専攻</a>
              <a href="#" class="tag">#2回生</a>
              <a href="#" class="tag">#デザイナー志望</a>
            </div>
            <div class="text-left overflow-hidden">
              <div class="col-sm-6 float-left">
                <div class="subject">
                  <h4>コーチング内容</h4>
                  <p class="ml-4">サンプルテキスト</p>
                </div>
                <div class="detail">
                  <h4>内容詳細</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字２００文字</p>
                </div>
              </div>
              <div class="col-sm-6 float-left">
                <div class="profile">
                  <h4>自己紹介</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
                <div class="others">
                  <h4>その他希望</h4>
                  <p class="ml-4">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字</p>
                </div>
              </div>
            </div>
            <div class="buttons text-center mt-4">
              <a href="#" class="btn btn-danger mx-2">メッセージを送る</a>
              <a href="#" class="btn btn-primary mx-2">予約をキャンセルする</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>