<main id="review_coach">
  <div class="content text-center">
    <h4>レビュー</h4>
    <p class="mt-4">⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️<span class="ml-2">5.0</span></p>
    <div class="reviews">
      <ul class="review row">
        <li class="col-2">⭐️ ５</li>
        <li class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
      <ul class="review row">
        <li class="col-2">⭐️ 4</li>
        <li class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
      <ul class="review row">
        <li class="col-2">⭐️ 3</li>
        <li class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
      <ul class="review row">
        <li class="col-2">⭐️ 2</li>
        <li class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
      <ul class="review row">
        <li class="col-2">⭐️ 1</li>
        <li class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="dropdown text-right mr-4">
      <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        並び替え　　　　　　　　　　
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="detail-reviews">
      <div class="detail-review">
        <div class="overflow-hidden">
          <div class="reviewer-img float-left">
            <img src="/default.jpg" alt="" class="user-icon">
            <p>松本 ことみ (20)</p>
          </div>
          <div class="reviewer-text float-left">
            <div class="border p-4">
              <p class="mb-0" >この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字２００文字</p>
              ️<p class="text-right mb-0"><span class="date mr-5">2019/10/29</span>⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️☆</p>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-review">
        <div class="overflow-hidden">
          <div class="reviewer-img float-left">
            <img src="/default.jpg" alt="" class="user-icon">
            <p>松本 ことみ (20)</p>
          </div>
          <div class="reviewer-text float-left">
            <div class="border p-4">
              <p class="mb-0" >この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字１００文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字２００文字</p>
              ️<p class="text-right mb-0"><span class="date mr-5">2019/10/29</span>⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️⭐️️️️️️️️☆</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>