
<br><br><br>
<div class="card" style="width: auto; margin:40px;">
  <img class="card-img-top" src="/assets/gitchan.jpg" alt="Card image cap">
  <div class="card-body" style="width: auto; margin-top:40px;">
    <h5 class="card-title">名前 : 苗字　名</h5>
    <p class="card-text">大学 ： 甲南大学　知能情報学部　知能情報学科</p>
    <p class="card-text">志望業界 ： IT,金融,人材</p>
  </div>

</div>
