lightgray = rgba(0,0,0,.05)
primary = #67c5ca

.btn.btn-outline-primary
      border-color primary
      color primary
      &:hover
        background-color primary
        border-color primary
        color #fff
.btn.btn-primary
      background-color primary
      border-color primary
      color #fff
      &:hover
        background-color transparent
        border-color primary
        color primary
.user-icon
  width 80%
  margin-bottom 10%
  border-radius 50%

.navbar-nav
  width 80%
  margin-left 20%

#top
  #search 
    width 90%
    margin auto 

    .search-content
      border 2px solid #f5a04e
      padding 5%

      .bg-lightgray
        background-color lightgray  
        padding 2%
  #index
    text-align center

    .active
      .btn.btn-outline-primary
        background-color primary
        border-color primary
        color #fff

    .coach-profile
      background-color lightgray
      max-width 33%
      width 26%
      padding 2%
      margin auto

      .user-icon
        width 80%
        margin-bottom 10%
        border-radius 50%
      
#contact
  form
    input,select,textarea
      background-color lightgray
      border-color lightgray

    .btn-primary
      background-color purple
      border-color purple
      
      &:hover
        color purple
        background-color white
#faq
  .content
    width 60%
    margin auto
  
  .card-header
    background-color transparent
  
  .q
    color purple
    font-size 200%
  .a
    color orange
    font-size 200%