#contact
  lightgray = rgba(0,0,0,.05)
  form
    input,select,textarea
      background-color lightgray
      border-color lightgray

    .btn-primary
      background-color purple
      border-color purple
      
      &:hover
        color purple
        background-color white
#faq
  .content
    width 60%
    margin auto
  
  .card-header
    background-color transparent
  
  .q
    color purple
    font-size 200%
  .a
    color orange
    font-size 200%