#mypage {
  margin: 5%;
}
#mypage .title {
  margin-bottom: 5%;
}
#mypage .subtitle {
  margin: 10% 0 5%;
}
#mypage .sidebar {
  width: 25%;
  margin: 0 2.5% 5%;
  max-width: 30%;
  background-color: rgba(0,0,0,0.05);
  float: left;
}
#mypage .sidebar .user-profile {
  margin: 3% 10%;
}
#mypage .sidebar .user-profile .user-icon {
  width: 80%;
  margin-bottom: 10%;
  border-radius: 50%;
}
#mypage .sidebar .user-profile .detail-profile {
  margin-top: 5%;
  text-align: left;
}
#mypage .sidebar .user-profile p {
  margin: 0 10%;
}
#mypage .mainbar {
  width: 50%;
  margin: 0 5%;
  max-width: 60%;
  float: left;
  text-align: left;
}
#mypage .mainbar .profile-edit {
  width: 100%;
}
#coaching_history {
  margin: 10%;
}
#coaching_history .title {
  margin-bottom: 5%;
}
#coaching_history .subtitle {
  margin: 10% 0 5%;
}
#coaching_history .bg-lightgray {
  background-color: rgba(0,0,0,0.05);
}
#coaching_history .content {
  margin: 5%;
  overflow: hidden;
}
#coaching_history .content .sidebar {
  width: 25%;
  margin: 0 2.5% 5%;
  max-width: 30%;
  float: left;
}
#coaching_history .content .sidebar .user-icon {
  width: 80%;
  margin-bottom: 10%;
  border-radius: 50%;
}
#coaching_history .content .mainbar {
  width: 60%;
  margin: 0 5% 5%;
  max-width: 70%;
  float: left;
  text-align: left;
}
#reserve_coaching {
  margin: 10%;
}
#reserve_coaching .title {
  margin-bottom: 5%;
}
#reserve_coaching .subtitle {
  margin: 10% 0 5%;
}
#reserve_coaching .bg-lightgray {
  background-color: rgba(0,0,0,0.05);
}
#reserve_coaching .content {
  margin: 5%;
  overflow: hidden;
}
#reserve_coaching .content .sidebar {
  width: 25%;
  margin: 0 2.5% 5%;
  max-width: 30%;
  float: left;
}
#reserve_coaching .content .sidebar .user-icon {
  width: 80%;
  margin-bottom: 10%;
  border-radius: 50%;
}
#reserve_coaching .content .mainbar {
  width: 60%;
  margin: 0 5% 5%;
  max-width: 70%;
  float: left;
  text-align: left;
}
#settings .content {
  margin: 5%;
  overflow: hidden;
}
#settings .content .sidebar {
  width: 25%;
  margin: 0 2.5% 5%;
  max-width: 30%;
  background-color: rgba(0,0,0,0.05);
  float: left;
}
#settings .content .sidebar li {
  margin-bottom: 5%;
}
#settings .content .mainbar {
  width: 60%;
  margin: 0 5% 5%;
  max-width: 70%;
  float: left;
  text-align: left;
}
#settings .content form label {
  display: block;
}
#settings .content form .form-control {
  display: inline-block;
  width: 90%;
  background-color: rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.05);
  color: #000;
}
#chatroom {
  text-align: center;
}
#chatroom .content {
  overflow: hidden;
  border: 1px solid #808080;
  border-bottom: 5px solid rgba(0,0,0,0.3);
}
#chatroom .content .user-icon {
  width: 100%;
  margin: auto;
  border-radius: 50%;
}
#chatroom .content .sidebar {
  width: 25%;
  margin: 0;
  max-width: 25%;
  float: left;
}
#chatroom .content .sidebar .border-bottom {
  border-color: #808080 !important;
}
#chatroom .content .sidebar .chat-list {
  border-bottom: 1px solid #808080;
}
#chatroom .content .sidebar .chat-list .chat-list-name {
  text-align: left;
}
#chatroom .content .sidebar .chat-list .chat-list-name p {
  margin-bottom: 0;
  line-height: 0.5;
  margin-top: 10%;
}
#chatroom .content .sidebar .chat-list .chat-list-name .company {
  font-size: 10px;
}
#chatroom .content .sidebar .chat-list .chat-list-name .date {
  font-size: 10px;
  color: #606060;
}
#chatroom .content .mainbar {
  width: 75%;
  max-width: 75%;
  float: left;
  text-align: left;
  border-left: 1px solid #808080;
}
#chatroom .content .mainbar .border-bottom {
  border-color: #808080 !important;
}
#chatroom .content .mainbar .message {
  margin: 2% 3%;
  padding: 2% 3%;
}
#chatroom .content .mainbar .left-message {
  background-color: rgba(0,0,0,0.05);
  max-width: 60%;
}
#chatroom .content .mainbar .right-message {
  background-color: #67c5ca;
  color: #fff;
  max-width: 60%;
  margin-left: 40%;
}
#chatroom .content .mainbar .submit {
  background-color: rgba(0,0,0,0.05);
  padding: 2% 5%;
}
#chatroom .content .mainbar .submit textarea {
  color: #808080;
  background-color: #fff;
  border: none;
  padding: 1.5% 5%;
}
