#mypage
  margin 5%

  .title
    margin-bottom 5%

  .subtitle
    margin 10% 0 5%

  .sidebar
    width 25%
    margin 0 5%
    max-width 30%
    background-color rgba(0,0,0,.05)
    float left

    .user-profile
      margin 3% 10%

      .user-icon
        width 80%
        margin-bottom 10%
        border-radius 50%
      
      .detail-profile
        margin-top 5%
        text-align left
      
      p
        margin 0 10%

  .mainbar
    width 50%
    margin 0 5%
    max-width 60%
    float left
    text-align left

    .profile-edit
      width 100%

#coaching_history
  margin 10%

  .title
    margin-bottom 5%

  .subtitle
    margin 10% 0 5%

  .bg-lightgray
    background-color rgba(0,0,0,.05)

  .content  
    margin 5% 
    overflow hidden

    .sidebar
      width 25%
      margin 0 2.5% 5%
      max-width 30%
      float left

      .user-icon
        width 80%
        margin-bottom 10%
        border-radius 50%

    .mainbar
      width 60%
      margin 0 5% 5%
      max-width 70%
      float left
      text-align left
    
#reserve_coaching
  margin 10%

  .title
    margin-bottom 5%

  .subtitle
    margin 10% 0 5%

  .bg-lightgray
    background-color lightgray

  .content  
    margin 5% 
    overflow hidden

    .sidebar
      width 25%
      margin 0 2.5% 5%
      max-width 30%
      float left

      .user-icon
        width 80%
        margin-bottom 10%
        border-radius 50%

    .mainbar
      width 60%
      margin 0 5% 5%
      max-width 70%
      float left
      text-align left
    
  