<main id="chatroom">
  <h2>チャットルーム</h2>
  <div class="content">
    <div class="sidebar">
      <h5 class="border-bottom mb-0 py-2">宛先一覧</h5>
      <ul class="chat-lists">
        <li class="chat-list overflow-hidden">
          <div class="col-4 float-left"><img src="/default.jpg" class="user-icon mt-2" alt=""></div>
          <div class="col-8 float-left">
            <div class="chat-list-name">
              <p>重神咲也</p>
              <span class="company">株式会社Cultiate</span><br>
              <span class="date">2019/12/11</span>
            </div>
          </div>
        </li>
        <li class="chat-list overflow-hidden">
          <div class="col-4 float-left"><img src="/default.jpg" class="user-icon mt-2" alt=""></div>
          <div class="col-8 float-left">
            <div class="chat-list-name">
              <p>重神咲也</p>
              <span class="company">株式会社Cultiate</span><br>
              <span class="date">2019/12/11</span>
            </div>
          </div>
        </li>
        <li class="chat-list overflow-hidden">
          <div class="col-4 float-left"><img src="/default.jpg" class="user-icon mt-2" alt=""></div>
          <div class="col-8 float-left">
            <div class="chat-list-name">
              <p>重神咲也</p>
              <span class="company">株式会社Cultiate</span><br>
              <span class="date">2019/12/11</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mainbar text-left">
      <h5 class="border-bottom mb-0 pl-4 py-2">重神 咲也</h5>
      <p class="message rounded left-message">
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      </p>
      <p class="message rounded right-message">
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      </p>  
      <div class="submit overflow-hidden">
        <div class="rounded float-left w-85">
          <textarea name="" class="w-95 rounded" placeholder="返信する" id="" cols="30" rows="1"></textarea>
        </div>
        <div class="float-left w-15">
          <a href="#" class="btn btn-primary rounded w-100">送信</a>
        </div>
      </div>
    </div>
  </div>
</main>