<div class="overflow-hidden" style="margin:200px 40px 0;">
  <p style="margin-left:80px;">☑️未読　　☑️未返信</p>
  <ul id="chat-list" class="float-left w-30" style="list-style:none">
    <li class="chat-list-name overflow-hidden">
      <div class="w-30 float-left" style=" margin:5% 0;">
        <img src="/default.jpg" class="" style="border-radius:50%; margin-left:10%;" alt="tartgeticon" width="50" height="50"/>
      </div>
      <p class="w-40 float-left" style=" margin:5% 0;">立花 祐輔<br>
        <span class="mx-auto" style="font-size:10px;">キーエンス</span>
      </p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">業種</p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">職種</p>
    </li>
    <li class="chat-list-name overflow-hidden">
      <div class="w-30 float-left" style=" margin:5% 0;">
        <img src="/default.jpg" class="" style="border-radius:50%; margin-left:10%;" alt="tartgeticon" width="50" height="50"/>
      </div>
      <p class="w-40 float-left" style=" margin:5% 0;">立花 祐輔<br>
        <span class="mx-auto" style="font-size:10px;">キーエンス</span>
      </p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">業種</p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">職種</p>
    </li>
    <li class="chat-list-name overflow-hidden">
      <div class="w-30 float-left" style=" margin:5% 0;">
        <img src="/default.jpg" class="" style="border-radius:50%; margin-left:10%;" alt="tartgeticon" width="50" height="50"/>
      </div>
      <p class="w-40 float-left" style=" margin:5% 0;">立花 祐輔<br>
        <span class="mx-auto" style="font-size:10px;">キーエンス</span>
      </p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">業種</p>
      <p class="w-15 float-left" style="font-size:10px; margin:15% 0;">職種</p>
    </li>
  </ul>

  <div id="chat-frame" class="float-left w-70">
  <p class="chat-talk" style="margin-bottom:50px;">
      <span class="talk-icon">
          <img src="/default.jpg" alt="tartgeticon" width="50" height="50"/>
      </span>
      <span class="talk-content">[トーク内容を記載]</span>
  </p>
  <p class="chat-talk mytalk">
      <span class="talk-icon">
          <img src="/default.jpg" alt="myicon" width="50" height="50"/>
      </span>
      <span class="talk-content">[トーク内容を記載]</span>
  </p>
  </div>

  <div id="chat-frame" class="float-left w-70" style="margin-top:50px;">
  <p class="chat-talk" style="margin-bottom:50px;">
      <span class="talk-icon">
          <img src="/default.jpg" alt="tartgeticon" width="50" height="50"/>
      </span>
      <span class="talk-content">[トーク内容を記載]</span>
  </p>
  <p class="chat-talk mytalk">
      <span class="talk-icon">
          <img src="/default.jpg" alt="myicon" width="50" height="50"/>
      </span>
      <span class="talk-content">[トーク内容を記載]</span>
  </p>
  </div>
</div>
