<br><br><br>
<div class="mx-auto" style="width: 80%;">
  <h5>お問い合わせ</h5>
  <div class="p-2">
    <div class="row">
      <div class="col-4">
        名前
      </div>
      <!--col-4 -->
      <div class="col-8">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>
      <!--col-8 -->
    </div>
    <!--row -->
  </div>
  <!--pb-2 -->
  <div class="p-2">
    <div class="row">
      <div class="col-4">
        連絡先メールアドレス
      </div>
      <!--col-4 -->
      <div class="col-8">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <!--col-8 -->
    </div>
    <!--row -->
  </div>
  <!--pb-2 -->
  <div class="p-2">
    <div class="row">
      <div class="col-4">
        お問い合わせ種別
      </div>
      <!--col-4 -->
      <div class="col-8">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>操作の仕方</option>
          <option>コーチングについて</option>
          <option>などなど</option>
          <option>質問</option>
          <option>そのほか</option>
        </select>
      </div>
      <!--col-8 -->
    </div>
    <!--row -->
  </div>
  <!--pb-2 -->
  <div class="p-2">
    <div class="row">
      <div class="col-4">
        内容
      </div>
      <!--col-4 -->
      <div class="col-8">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <!--col-8 -->
    </div>
    <!--row -->
  </div>
  <!--pb-2 -->
</div>
<div class="mx-auto" style="width: 50%;">
  <button type="button" class="btn btn-warning mx-auto btn-block">送信</button>
</div>
<br>
