
<br>
<br>
<br>
<br>

<p class="text-center">・お気に入りコーチ一覧</p>
<div class="container" style="max-width: 100%; margin:0px 40px 0px">
  <div class="row justify-content-center">
    <div class="col-8">
      <input class="form-control" type="text" placeholder="コーチ名を入力してください">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-secondary">検索</button>
    </div>
  </div>
</div>

<br>
<div class="container" >
  <table class="table" style="max-width: 100%; margin-top:40px;">
    <thead>
      <tr>
        <th scope="col">アイコン</th>
        <th scope="col">名前</th>
        <th scope="col">会社名</th>
        <th scope="col">コーチング回数</th>
        <th scope="col">業種</th>
        <th scope="col">職種</th>
        <th scope="col">予約</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="/assets/gitchan.jpg" width="100px" height="50px"　class="rounded-circle"></td>
        <td>名無しさん</td>
        <td>某会社</td>
        <td>3回</td>
        <td>IT</td>
        <td>エンジニア</td>
        <td><button type="button" class="btn btn-secondary">予約</button></td>
      </tr>
      <tr>
        <td><img src="/assets/gitchan.jpg" width="100px" height="50px"　class="rounded-circle"></td>
        <td>名無しさん</td>
        <td>某会社</td>
        <td>3回</td>
        <td>IT</td>
        <td>エンジニア</td>
        <td><button type="button" class="btn btn-secondary">予約</button></td>
      </tr>
      <tr>
        <td><img src="/assets/gitchan.jpg" width="80px" height="50px"　class="rounded-circle"></td>
        <td>名無しさん</td>
        <td>某会社</td>
        <td>3回</td>
        <td>IT</td>
        <td>エンジニア</td>
        <td><button type="button" class="btn btn-secondary">予約</button></td>
      </tr>
    </tbody>
  </table>
</div>
