
<br><br><br>
<div class="card" style="width: auto;">
  <img class="card-img-top" src="/assets/gitchan.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">名前 : 苗字　名</h5>
    <p class="card-text">大学 ： 甲南大学　知能情報学部　知能情報学科</p>
    <p class="card-text">志望業界 ： IT,金融,人材</p>
  </div>
</div>


<div class="progress mt-3">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>

<button type="button" class="btn btn-secondary float-right">プロフィールを編集する</button>





 <br><br>
