<br><br><br>
<div class="card">
  <div class="card-header" role="tab" id="collapseListGroupHeading1">
    <h5 class="mb-0">
      <a href="#collapseListGroup1" class="collapsed text-body" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1"> お知らせ </a>
    </h5>
  </div><!-- /.card-header -->
  <div class="collapse" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="false">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="text-body" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                アイテム1
              </a>
            </h5>
          </div><!-- /.card-header -->
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              アイテム1のコンテンツ
            </div><!-- /.card-body -->
          </div><!-- /.collapse -->
        </div><!-- /.card -->
      </li>
      <li class="list-group-item">
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed text-body" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                アイテム2
              </a>
            </h5>
          </div><!-- /.card-header -->
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              アイテム2のコンテンツ
            </div><!-- /.card-body -->
          </div><!-- /.collapse -->
        </div><!-- /.card -->
      </li>
      <li class="list-group-item">
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed text-body" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                アイテム3
              </a>
            </h5>
          </div><!-- /.card-header -->
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              アイテム3のコンテンツ
            </div><!-- /.card-body -->
          </div><!-- /.collapse -->
        </div><!-- /.card -->
      </li>
      <li class="list-group-item">
        アイテム４
      </li>
      <li class="list-group-item">
        アイテム5
      </li>
    </ul>
    <div class="card-footer">フッタ</div>
  </div><!-- /.collapse -->
</div><!-- /.card -->
