<br><br><br>
<div class="mx-auto" style="width: 80%;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">2018年12月27日　11:00-12:00 </h5>
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="/assets/gitchan.jpg" alt="Card image cap">
            <div class="card-body" style="width: auto; margin-top:40px;">
              <h5 class="card-title">名前 : 苗字　名</h5>
              <p class="card-text">大学 ： 甲南大学　知能情報学部　知能情報学科</p>
              <p class="card-text">志望業界 ： IT,金融,人材</p>
            </div> <!--card-body -->
          </div><!--card -->
        </div><!--col-4 -->
        <div class="col-8">
          コーチング内容(必須)
          <select class="form-control" id="exampleFormControlSelect1">
            <option>自社採用</option>
            <option>自己分析</option>
            <option>業界分析</option>
            <option>企業研究</option>
            <option>SPI・筆記テスト</option>
            <option>面接対策</option>
            <option>ES添削</option>
            <option>地方就活</option>
            <option>理系就活</option>
            <option>院生就活</option>
            <option>留学生就活</option>
            <option>既卒就活</option>
            <option>外資就活</option>
            <option>女性就活(結婚・育児)</option>
            <option>内定後の活動</option>
            <option>内定後の活動</option>
            <option>人生相談 起業/事業相談</option>
          </select>
          <form class="form-group" action="index.html" method="post">
            <div class="form-group"style="width: auto;">
             <label for="exampleFormControlTextarea1">内容詳細</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" maxlength='200' placeholder="自由にお書きください(200文字まで)"></textarea>
            </div>
          </form>
          コーチングの前の自己紹介(必須)
          <select class="form-control" id="exampleFormControlSelect1">
            <option>未定</option>
            <option>未定</option>
          </select>
          <form class="form-group" action="index.html" method="post">
            <div class="form-group"style="width: auto;">
             <label for="exampleFormControlTextarea1">その他希望</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" maxlength='200' placeholder="自由にお書きください(200文字まで)"></textarea>
            </div>
          </form>
        </div><!--col-8 -->
      </div><!--row -->
    </div><!--card-body -->
  </div><!--card -->
</div><!--mx auto -->
