<br><br><br>
<h1>This is test page !</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <br><br><br>
      UserName:hogehoge
      <br>
      email:hogehoge@hoge.com
    </div>
    <div class="col">
      <div id="calendar"></div>
    </div>
  </div>
</div>


<br><br><br>
<div class="pure-g">
  <!-- Video area -->
  <div class="pure-u-2-3" id="video-container">
    <video id="their-video" autoplay playsinline></video>
    <video id="my-video" muted="true" autoplay playsinline></video>
  </div>

  <!-- Steps -->
  <div class="pure-u-1-3">
    <h2>SkyWay Video Chat</h2>

    <div class="select">
      <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <!-- Get local audio/video stream -->
    <div id="step1">
      <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
      <div id="step1-error">
        <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
        <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
      </div>
    </div>

    <!-- Make calls to others -->
    <div id="step2">
      <p>Your id: <span id="my-id">...</span></p>
      <p>Share this id with others so they can call you.</p>
      <h3>Make a call</h3>
      <form id="make-call" class="pure-form">
        <input type="text" placeholder="Call user id..." id="callto-id">
        <button href="#" class="pure-button pure-button-success" type="submit">Call</button>
      </form>
    </div>

    <!-- Call in progress -->
    <div id="step3">
      <p>Currently in call with <span id="their-id">...</span></p>
      <p><a href="#" class="pure-button pure-button-error" id="end-call">End call</a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      // Documentの読み込みが完了するまで待機し、カレンダーを初期化します。
      $('#calendar').fullCalendar({
          // 初期表示ビュー
          defaultView: 'agendaWeek',
          // 月名称
          monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
          // 月略称
          monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
          // 曜日名称
          dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
          // 曜日略称
          dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
      });
  });
</script>
