        <a href="/tests/test">テスト</a>
        <a href="/tests/mypage">マイページ</a>
        <a href="/tests/favoriteCoach">お気に入りコーチ</a>
        <a href="/tests/loginPage">ログイン</a>
        <a href="/tests/questionsPage">Q&A</a>
        <a href="/tests/reservationManagementPage">予約管理</a>
        <a href="/tests/contactUsPage">問い合わせ</a>
        <a href="/tests/topDemoPage">トップ</a>
        <a href="/tests/chatroom">チャット</a>